<div class='col-md-4 article-preview'>
    <h4 >
      {{ fields.title.content }}
    </h4>
    <div class='article-preview-body'>{{ fields.body.content }}</div>
    {{fields.view_node.content}}
</div>
